body {
  background-color: gray;
}
.connexion {
  color: black;
}
.bg {
  background-image: url(../images/salle1.jpg);
  height: 250%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.a {
  left: 0;
  top: 50%;
  height: 50%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container {
  padding: 200px 20px 200px 20px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

.container_connexion {
  padding: 250px 20px 250px 20px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  background-image: url(../images/salle1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-header_connexion {
  text-align: center;
  text-shadow: 2px 2px gray;
  letter-spacing: 10px;
  font-size: 50px;
  color: black;
  font-weight: bold;
}

.section-1 {
  background-image: url(../images/salle1.jpg);
  height: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
